.transactionHistory {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
  width: 75%;
}

.header {
  background-color: rgb(35, 187, 243);
  color: white;
  text-transform: uppercase;
  height: 60px;
}

.tableItem {
  text-align: center;
  height: 43px;
}

.tableItem:nth-child(2n) {
  background-color: rgb(214, 214, 214);
}